body, html 
{
 }
pre { font-family: monospace;}

button{display: inline-block;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
   border-style: double;border-width: 1px;
   background-color  :#4DB84D;FONT-WEIGHT: Bold;FONT-SIZE: 10px;COLOR: White;FONT-FAMILY: Tahoma;BORDER-COLOR:#2788F8;}

  #pagewrap {
    margin: 0 auto;
    width: auto;
  }
      
      #search {
        -webkit-border-radius: 10px;
        background-color: #00BFFF;
        padding: 5px;
        position: fixed;
        right:0px;
        display: none;
      }
      
      
      #body {
        
      }
        table {
          background-color: #00BFFF;
          -webkit-border-radius: 1px;
          width: 100%;
          padding: 1px;
        }
                      th.sortable {
                        color: white;
                        cursor: pointer;
                        text-decoration: underline;
                      }
                      th.sortable:hover { color: black; }
                      th.sorted-asc, th.sorted-desc  { color: black; }

                      td {
                        background-color: #E0ECF8;
                      }
                      td.odd {
                        background-color: lightblue;
                        color: #0B0B3B;
                      }
                      
                      td.hovered {
                        background-color: lightblue;
                        color: #666;
                      }

#pagewrap2 {
    margin: 0 auto;
    width: auto;
  }
      
      #search2 {
        -webkit-border-radius: 10px;
        background-color: #00BFFF;
        padding: 5px;
        position: fixed;
        right:0px;
        display: none;
      }
      
      
      #body2 {
        
      }
        table {
          background-color: #00BFFF;
          -webkit-border-radius: 1px;
          width: 100%;
          padding: 1px;
        }
                      th.sortable2 {
                        color: white;
                        cursor: pointer;
                        text-decoration: underline;
                      }
                      th.sortable2:hover { color: black; }
                      th.sorted-asc2, th.sorted-desc2  { color: black; }

                      td {
                        background-color: #E0ECF8;
                      }
                      td.odd2 {
                        background-color: lightblue;
                        color: #0B0B3B;
                      }
                      
                      td.hovered2 {
                        background-color: lightblue;
                        color: #666;
                      }