body,html {
    margin: 0rem;
    padding: 0rem;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cadfdf;
}
main {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 10px 18px rgba(0,0,0,.2);
    border-radius: 15px;
    position: relative;
}
@media(max-width:992px) {main {width:90%; height: 350px;}}

#myMap {
    width: 100%;
    height: 100%;
}
.iconMarker {
    width: 30px!important;
    height: 30px!important;
    background: yellow;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.iconMarker span {
    width: 15px;
    height: 15px;
    background: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);

}
.icon1 span { background:red;}
.icon2 span { background:red;}
.icon3 span { background:red;}
.icon4 span { background:red;}
.icon5 span { background:red;}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border-radius: 0px;
    border: 0;
    background: #000;
    color: #ccc;
}

